body {
    background-color: lavender;
}

h1 {
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.card {
    flex: 1;
    background-color: white;
    margin: 300 px, 300 px, 300 px, 300 px;
    padding: 300 px;
}

    

