body {
    background-color: lavender;
}

h1 {
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.card {
    flex: 1;
    background-color: white;
    border-radius: 15 px;
    padding: 40 px;
    box-sizing: border-box;
}

    

