body {
    background-color: lavender;
}

h1 {
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.card {
    background-color: white;
    border: none;
    padding: 50 px;
    width: 300 px;
    height: 150 px;
    box-sizing: border-box;
}

    

