body {
    background-color: lavender;
}

h1 {
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.card {
    background-color: white;
    border: none;
    padding: 50px;
    width: 300px;
    height: 70px;
}

    

