body {
    background-color: blue;
}

h1 {
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.container {
    display: flex;
    gap: 25 px;
    padding: 40 px;
    justify-content: center;
}

.card {
    width: 300 px;
    height: 400 px;
    background-color: white;
    padding: 32 px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12 px;
}

    

